In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/usa-real-estate-dataset/realtor-data.csv

# **Import libraries**

In [2]:
# Import libraries here
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.utils.validation import check_is_fitted
import plotly.express as px

# **Prepare Data**
**Import**

In [3]:
def wrangle(filepath):
    
    # Read CSV file into dataframe
    df = pd.read_csv(filepath)
    # Drop columns
    df.drop(columns=[
        "full_address",
        "street", 
        "zip_code", 
        "sold_date"
        ],inplace=True)
    
    return df

In [4]:
# Use this cell to test your wrangle function and explore the data
df = wrangle("../input/usa-real-estate-dataset/realtor-data.csv")

In [5]:
print('df shape: ', df.shape)
df.head(10)

df shape:  (733159, 8)

,status,price,bed,bath,acre_lot,city,state,house_size
0,for_sale,105000.0,3.0,2.0,0.12,Adjuntas,Puerto Rico,920.0
1,for_sale,80000.0,4.0,2.0,0.08,Adjuntas,Puerto Rico,1527.0
2,for_sale,67000.0,2.0,1.0,0.15,Juana Diaz,Puerto Rico,748.0
3,for_sale,145000.0,4.0,2.0,0.10,Ponce,Puerto Rico,1800.0
4,for_sale,65000.0,6.0,2.0,0.05,Mayaguez,Puerto Rico,NaN
5,for_sale,179000.0,4.0,3.0,0.46,San Sebastian,Puerto Rico,2520.0
6,for_sale,50000.0,3.0,1.0,0.20,Ciales,Puerto Rico,2040.0
7,for_sale,71600.0,3.0,2.0,0.08,Ponce,Puerto Rico,1050.0
8,for_sale,100000.0,2.0,1.0,0.09,Ponce,Puerto Rico,1092.0
9,for_sale,300000.0,5.0,3.0,7.46,Las Marias,Puerto Rico,5403.0

In [6]:
df.head(10)

,status,price,bed,bath,acre_lot,city,state,house_size
0,for_sale,105000.0,3.0,2.0,0.12,Adjuntas,Puerto Rico,920.0
1,for_sale,80000.0,4.0,2.0,0.08,Adjuntas,Puerto Rico,1527.0
2,for_sale,67000.0,2.0,1.0,0.15,Juana Diaz,Puerto Rico,748.0
3,for_sale,145000.0,4.0,2.0,0.10,Ponce,Puerto Rico,1800.0
4,for_sale,65000.0,6.0,2.0,0.05,Mayaguez,Puerto Rico,NaN
5,for_sale,179000.0,4.0,3.0,0.46,San Sebastian,Puerto Rico,2520.0
6,for_sale,50000.0,3.0,1.0,0.20,Ciales,Puerto Rico,2040.0
7,for_sale,71600.0,3.0,2.0,0.08,Ponce,Puerto Rico,1050.0
8,for_sale,100000.0,2.0,1.0,0.09,Ponce,Puerto Rico,1092.0
9,for_sale,300000.0,5.0,3.0,7.46,Las Marias,Puerto Rico,5403.0

# **Explore**

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733159 entries, 0 to 733158
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   status      733159 non-null  object
 1   price       733088 non-null  float64
 2   bed         617177 non-null  float64
 3   bath        621407 non-null  float64
 4   acre_lot    572378 non-null  float64
 5   city        733087 non-null  object
 6   state       733159 non-null  object
 7   house_size  520772 non-null  float64
dtypes: float64(5), object(3)
memory usage: 44.7+ MB

In [8]:
df.shape

(733159, 8)

Check the missing values

In [9]:
df.isnull().sum()

status             0
price             71
bed           115982
bath          111752
acre_lot      160781
city              72
state              0
house_size    212387
dtype: int64